body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* Header */
#header{
    background: url("../img/head.jpg") no-repeat;
    background-size: cover;
}

.logo img{
    width: 200px;
}
nav{
    margin-top: 35px;
}

.nav{
    display: flex;
    justify-content: space-between;
    background: #D9BB84;
    height: auto;
    margin-right: 0;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
}

.nav-item{
    margin-left: 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 20px;
    font-weight: bold;
}

.nav-item:first-child{
    margin-left: 40px;
}

.social-media{
    display: flex;
}
.social-media a{
    margin-left: 15px;
}

.social-media  img {
    width: 30px;
    height: 30px;

}

.social-media a:first-child{
    margin-left: 0;
}

#burger-menu {
    display: none;
    float: left;
    cursor: pointer;
    height: 27px;
    width: 27px;
    overflow: visible;
    position: fixed;
    z-index:2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: #fff;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
    content: "";
}
#burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
}
#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
}
#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}
#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}
#burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
}

#menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    left: 0px;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;

}

#menu.overlay{
    visibility: visible;
    opacity: 1;
    padding-top:100px;
    background:rgba(0,0,0,0.5);
}

#menu li{
    list-style:none;
}
#menu a{
    color:#fff;
    display:block;
    font-size: 32px;
    margin-bottom:30px;
    text-decoration:none;
    transition: .45s;
}

#menu a:hover{
    color:#7B86C0;
    display:block;

}

/* Banner */
#banner{
    background: url("../img/banner.png") no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.banner-item{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
}

.banner-item h1{
    margin-top: 150px;
    color: #D9BB84;
    width: 600px;
    font-size: 48px;
}

.banner-item p{
    color: #D9BB84;
    font-size: 26px;
    width: 580px;
}


.button{
    background-color: #D9BB84;
    color: white;
    margin-right: 15%;
    height: 65px;
    width: 300px;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-bottom: 150px;
}

.view{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 28px;
}

/* Hot */
#hot{
    background: url("../img/sct.jpg") no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.items{
    position: relative;
    top: 0;
}

.items h2{
    text-align: center;
    padding-top: 50px;
    color: #D9BB84;
    font-size: 40px;
}

.block{
    margin-left: 145px;
    background-color: #C58E2A;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.block:first-child{
    margin-left: 0;
}

.block img{
    width: 250px;
}
.block p{
    text-align: center;
    color: #D9BB84;
    font-size: 20px;
}

/* Categories */
#categories{
    background: url("../img/sct2.jpg") no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories-item{
    margin-top: 50px;
    text-align: center;
    width: 300px;
}

.categories-item img{
    width: 130px;
    align-items: center;
}

.categories-item p{
    color: #232426;
    font-size: 20px;
    font-weight: bold;
}

.product2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* About */

#about{
    position: relative;
    background: url("../img/sct.jpg") no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}
.about{
    position: relative;
    text-align: center;
}

.about-title{
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 44px;
    color: #D9BB84;
}

.about p{
    margin-top: 25px;
    font-size: 24px;
    color: #D9BB84;
    padding-bottom: 55px;
}

/* Footer */
#footer{
    background: url("../img/sct2.jpg") no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.foot-item p{
    text-align: center;
    width: 350px;
    margin-left: 45px;
    font-weight: bold;
    font-size: 20px;
}

.foot-item img{
    width: 300px;
    margin-left: 20%;
}

@media screen and (max-width: 1200px){
    .block img{
        width: 150px;
    }
}

@media screen and (max-width: 700px){
    #burger-menu {
        position: relative;
        display: block;
    }

    .our-item1 h2{
        margin-top: 0;
    }

    nav{
        display: none;
    }
    .nav{
        display: none;
        background-color: transparent;
    }
    .block{
        margin-left: 0;
    }
    .block img{
        margin-left: 30%;
    }
    .product{
        justify-content: center;
    }
    .banner-item h1{
        width: auto;
    }
    .banner-item p{
        width: auto;
    }

    .social-media{
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}