body{
    margin: 0;
}

/* Header */
#header{
    background: url("../img/head.jpg") no-repeat;
    background-size: 100%;
}

.logo img{
    width: 200px;
}
nav{
    margin-top: 5px;
}

.nav{
    display: flex;
    justify-content: space-between;
    background: #D9BB84;
    height: 40px;
    margin-right: 0;
    border-radius: 25px;
}

.nav-item{
    margin-left: 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 20px;
}

.nav-item:first-child{
    margin-left: 40px;
}

.social-media{
    display: flex;
}
.social-media a{
    margin-left: 15px;
}

.social-media  img {
    width: 30px;
    height: 30px;

}

.social-media a:first-child{
    margin-left: 0;
}

/* Banner */
#banner{
    background: url("../img/banner.png") no-repeat;
    background-size: 100%;
}

.banner-item{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
}

.banner-item h1{
    margin-top: 150px;
    color: #D9BB84;
    width: 600px;
    font-size: 48px;
}

.banner-item p{
    color: #D9BB84;
    font-size: 26px;
    width: 580px;
}


.button{
    background-color: #D9BB84;
    color: white;
    margin-right: 15%;
    height: 65px;
    width: 300px;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-bottom: 150px;
}

.view{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 28px;
}

/* Hot */
#hot{
    background: url("../img/sct.jpg") no-repeat;
    background-size: 100%;
}

.items{
    position: relative;
    top: 0;
}

.items h2{
    text-align: center;
    padding-top: 50px;
    color: #D9BB84;
    font-size: 40px;
}

.block{
    margin-left: 145px;
    background-color: #C58E2A;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.block:first-child{
    margin-left: 0;
}

.block img{
    width: 250px;
}
.block p{
    text-align: center;
    color: #D9BB84;
    font-size: 20px;
}
